<section class="py-5">
  <h1 class="display-3">
   ढाका टोपी किनेको मा धयेबाद 
  </h1>
  <p class="lead">ढiका टोपी १ हप्ता मा आइपुग्छ </p>
  <a href="/" class="btn btn-dark btn-lg">ल घर जौ अब </a>
</section>